{% extends "homeapp/base.html" %}
{% block content %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}">
            <div class="media-body">
                <h2><a class="article-title">{{object.title}}</h2></a>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-danger" href="{% url 'post-delete' object.id %}">Delete</a>
                        <a class="btn btn-outline-info" href="{% url 'post-update' object.id %}">Update</a>
                    </div>
                {% endif %}
                <div class="article-metadata">
                    <a class="mr-2" href="#">by {{ object.author }} </a>
                    <small class="text-muted">on {{ object.date_posted|date:"d F, Y" }}</small>
                </div>
                 <p class="article-content">{{ object.content }}</p>
            </div>
        </article>
{% endblock content %}
